<div class="center jumbotron">
  <div class="text-center">
    <h2>Log in</h2>
  </div>

  <center>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="field form-group">
        <%= f.label :email, class:"col-3 col-form-label"%><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control col-3" %>
      </div>

      <div class="field form-group">
        <%= f.label :password, class:"col-3 col-form-label" %><br />
        <%= f.password_field :password, autocomplete: "current-password", class:"form-control col-3" %>
      </div>

      <div class="actions">
        <%= f.submit "Log in", class:"btn btn-primary btn-block col-3" %>
      </div>
    <% end %>
    <%= link_to "Click here to sign upï¼", new_user_registration_path%>
  </center>

</div>

