<!--<h1>投稿詳細ページ</h1>-->
<div class="container">

  <h3 class="border">User: <%= @post.user.name %></h3>
  <h3 class="border">Toro: <%= @post.content %></h3>
  <% if current_user == @post.user %>
    <%= link_to "Delete", @post, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
  <% end %>
  <%= link_to "User profile", @post.user, class:'mb-3' %>
  <hr>

  <h2>Comments</h2>
  <% @comments.each do |c| %>
    <a href="/users/<%= @post.user.id %>"><%= c.user.name %></a>
    <%= c.content %>
		<% if current_user == c.user %>
      <button class:="btn btn-danger">
        <%=link_to "Delete", post_comment_path(@post, c), method: :delete %>
      </button>
		<% end %>
    <hr>
  <% end %>
  <h2><%= flash[:success] %></h2>
  <div class="form-group">
    <%= form_with model: [@post, @comment] do |f| %>
      <%= f.text_field :content, class:"row col-form col-4" %>
      <br>
      <%= f.submit "Post comment", class:"row btn btn-primary btn-block col-3" %>
    <% end %>
  </div>

  <%= link_to "Home", posts_path %>
</div>